<nav class="navbar navbar-default navbarApp" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button ng-if="!user" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button ng-show="user" toggle-sidebar-menu class="navbar-brand hamburger-button">Show navigation</button>
            <label class="navbar-brand">
                SplitWise
               
            </label>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul ng-if="!user" class="nav navbar-nav navbar-right">
                <li class="mr10 ml10">
                    <button type="button" class="btn btn-mymoney" data-toggle="modal" data-target="#modal-login" style="margin-top:11px;">Login</button>
                </li>
                <li class="mr10 ml10">
                    <button type="button" class="btn btn-mymoney" data-toggle="modal" data-target="#modal-signup" style="margin-top:11px;">Sign Up</button>
                </li>
            </ul>

            <ul ng-show="user" class="nav navbar-nav pull-right">
                <li  class="navbar-text" ng-if="$root.state !== 'ONLINE'">
                    {{$root.state}}
                </li>
                <li ng-show="false">
                
                    <button class="navbar-btn btn btn-warning btn-xs" ng-click="initData()">Init</button >
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="modal-signup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title">Sign Up</h1>
            </div>

            <div class="modal-body">

                <div class="center-block" style="max-width: 400px;">

                    <a href="/auth/facebook" type="button" class="btn btn-lg btn-block facebook"><i class="fa fa-facebook-square"></i> <span>Sign up with Facebook</span></a>

                    <a href="/auth/google" type="button" class="btn btn-lg btn-block google-p"><i class="fa fa-google-plus-square"></i> <span>Sign up with Google</span></a>
                </div>

                <div class="strike pt30">
                    <span>OR</span>
                </div>

                <form class="nav" ng-submit="signUp()">
                    <h2 class="text-center">Create an account</h2>
                    <p class="text-center text-danger">{{error}}</p>
                    <span>{{ hello }}</span>
                    <div class="form-group">
                        <label >Username :</label>
                        <input class="form-control" type="text" placeholder="Username" ng-model="signUpUser.name">
                    </div>
                    <div class="form-group">
                        <label>First name : </label>
                        <input class="form-control" type="text" placeholder="First name" ng-model="signUpUser.first">
                    </div>
                    <div class="form-group ">
                        <label>Last name :</label>
                        <input class="form-control" type="text" placeholder="Last name"  ng-model="signUpUser.last">
                    </div>
                    <div class="form-group">
                        <label>Email :</label>
                        <input class="form-control" type="text" placeholder="Email" ng-model="signUpUser.mail">
                    </div>
                    <div class="form-group">
                        <label>Password :</label>
                        <input class="form-control" type="password" placeholder="Password" ng-model="signUpUser.pass">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password :</label>
                        <input class="form-control" type="password" placeholder="Confirm Password" ng-model="signUpUser.repass">
                    </div>
                    <div class="form-group ml5">
                        <button type="submit" class="btn btn-mymoney pull-right">Sign Up</button>
                    </div>
                </form>
            </div>          
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modal-login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title">Log in</h1>
            </div>

            <div class="modal-body">

                <div class="center-block" style="max-width: 400px;">

                    <a href="/auth/facebook" type="button" class="btn btn-lg btn-block facebook"><i class="fa fa-facebook-square"></i> <span>Login with Facebook</span></a>

                    <a href="/auth/google" type="button" class="btn btn-lg btn-block google-p"><i class="fa fa-google-plus-square"></i> <span>Login with Google</span></a>
                </div>

                <div class="strike pt30">
                    <span>OR</span>
                </div>

                <form class="nav">
                    <p class="text-center text-danger">{{error}}</p>
                    <div class="form-group">
                        <label >Username :</label>
                        <input type="text" class="form-control" placeholder="Username" ng-model="signInUser.username">
                    </div>
                    <div class="form-group">
                        <label>Password :</label>
                        <input type="password" class="form-control" placeholder="Password" ng-model="signInUser.password">
                    </div>
                    <div class="form-group ml5">
                        <button type="submit" class="btn btn-mymoney pull-right" ng-click="signIn()" data-dismiss="modal">Log in</button>
                        <button type="button" class="btn btn-mymoney pull-right mt10" ui-sref="forgotpass" data-dismiss="modal">Forgot password</button>
                    </div>
                </form>
            </div>          
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
           
            <ul class="nav nav-sidebar">
             <li hide-sidebar-menu ui-sref="settings" >
            <span class=" glyphicon glyphicon-user pr10" aria-hidden="true"></span>
            {{user.username}}
            </li>
            <li hide-sidebar-menu ng-click="logout()" >
            <span class="glyphicon glyphicon-off pr10" aria-hidden="true"></span>
            Logout
            </li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
              <li><a href="" ng-click="goToExpenses()">All expenses</a></li>
              <li><a href="" ng-click="goToGroups()">Groups</a></li>
              <li><a href="" ng-click="goToFriends()" >Friends</a></li>
        </ul>
        
          
</div>




