<div class="container pt70 pb100">
  <div ng-if="bills.length > 0" class="row hidden-xs accountDescription">
    <div class="col-xs-3 algcenter">description</div>
    <div class="col-xs-3 algcenter">Amount</div>
    <div class="col-xs-3 algcenter">Date</div>
  </div>
  <div class="row accountLine" ng-repeat="bill in bills">
    <div class="col-xs-12 col-md-3 algcenter">
      <span>{{ bill.description }}</span>
    </div>
    <div class="col-xs-12 col-md-3 algcenter">
      <span>{{ bill.amount }}</span>
      </select>
    </div>
    <div class="col-xs-12 col-md-3 algcenter">
      <span>{{ bill.date }}</span>
      </select>
    </div>
    <div class="col-xs-12 col-md-3 algcenter">
      <button ui-sref="showbill({billId : bill._id})" class="btn btn-info btn-xs">
        Show the bill
      </button>
      <button ng-really-message="Do you really want to delete this expense?" ng-really-click="deletebill(bill._id)" class="btn btn-danger btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>
  </div>